section.first-section h1 {
    font-size: 47px;
}
section.first-section p {
    line-height: 24px;
    margin-left: -910px;
    color: #00D1B4;
}
section.first-section img {
    height: 650px;
    margin-left: 396px;
    margin-top: -550px;
}
.first-section-text {
    margin-left: 50px;
    margin-top: 180px;
    color: #ffffff;
    line-height: 30px;
}
.first-h1-2 {
    color: #00D1B4;
}

