section.fifth-section {
    background-color: #222828;
    height: 700px;
    
}
.fifth-section-container {
    display: flex;
    justify-content: space-around;
    
}
section.fifth-section h1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.artem-otzyvy {
    background-color: #333F3F;
    width: 300px;
    height: 300px;
    width: 600px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 19px;
    position: absolute;
    margin-top: 500px;
    margin-left: 20px;
    /* padding-left: 50px; */
}
.avatar-1, .avatar-2, .freelance-1 {
    position: absolute;
    margin-top: 100px;
}
.avatar-1 {
    margin-left: -160px;
    margin-top:90px;
}
.avatar-2 {
    margin-left: -60px;
    margin-top: 90px;
}
.freelance-1 {
    margin-left: -130px;
    margin-top: 90px;
}
.vlad-otzyvy {
    background-color: #333F3F;
    width: 300px;
    height: 250px;
    width: 600px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 19px;
    padding-left: 30px;
    padding-top: 100px;
   

}
section.fifth-section h1 {
    padding-left: 580px;
    font-size: 40px;
    margin-top: 100px;
}
.stars, .stars-2, .stars-3, .stars-4, .stars-5 {
    position: absolute;
}
.starts-1, .starts-2 {
    display: flex;
    justify-content: space-around;
}
.otzyvy-container-2 {
    margin-top: 185px;
    margin-left: -100px;
    /* margin-top: 200px; */
    
}
.fifth-ps {
    color: #222828;
}
.otzyvy-all {
    display: flex;
    justify-content: space-around;
    
}
.fifth-niks {
    color: #ffffff;
    position: absolute;
    margin-top: 50px;
    margin-left: -450px;
    font-size: 20px;

}
.fifth-niks-2 {
    color: #ffffff;
    position: absolute;
    margin-top: 50px;
    margin-left: -280px;
    font-size: 20px;
}
.stars {
    height: 30px;
}