section.eights-section {
    color: #ffffff;
    display: flex;
    flex-direction: column; /* Устанавливаем элементы по вертикали */
    align-items: center;    /* Центрируем элементы по горизонтали */
}

section.eights-section img {
    height: 416px;
    position: relative;  /* Меняем фиксированное позиционирование на относительное */
    margin-top: 20px;    /* Добавляем отступ сверху для изображения */
}