@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

section.eleventh-section {
    background-color: #222828;
    color: #ffffff;
    height: 1100px;
    padding-bottom: 50px;
}

section.eleventh-section h1 {
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-top: 50px;
    animation: fadeInUp 1.5s ease-out;
}

.eleventh-section-photo {
    height: 550px;
    margin-left: 150px;
    opacity: 0;
    animation: fadeInLeft 1.5s ease-out forwards;
}

.container-eleventh {
    display: flex;
    justify-content: space-around;
}

.right-section {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

.portfolio-eleventh {
    display: flex;
    width: 100%;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.eleventh-section--first-icons {
    margin-left: -70px;
    margin-top: -100px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 1s;
}

.eleventh-section-all {
    display: flex;
}

.eleventh-section-all div {
    margin-right: 20px;
}

section.eleventh-section h2, h3 {
    color: #00D1B4;
}

.eleventh-section-portfolio {
    height: 450px;
    margin-top: -140px;
    margin-left: -130px;
    opacity: 0;
    animation: fadeInLeft 1.5s ease-out forwards;
    animation-delay: 1.5s;
}

.eleventh-section-photo, .eleventh-section-portfolio {
    opacity: 0;
    animation: fadeInLeft 1.5s ease-out forwards;
}

section.eleventh-section p {
    font-size: 15px;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 2s;
}

.eleventh-section-photo, .portfolio-eleventh h2, .portfolio-eleventh p {
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

.eleventh-section-photo {
    margin-left: 150px;
}

/* Для подзаголовков и текста */
section.eleventh-section h2, h3 {
    color: #00D1B4;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
    animation-delay: 2s;
}

.eleventh-section--first-icons div h3,
.eleventh-section--first-icons div p {
    animation: fadeInUp 1.5s ease-out forwards;
    opacity: 0;
    animation-delay: 3s;
}
